In [2]:
# Must be included at the beginning of each new notebook. Remember to change the app name.
import findspark
# findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
findspark.init('../spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('cleaning').getOrCreate()

In [3]:
df_1 = spark.read.csv('binary_data.csv', header=True)
df_2 = spark.read.csv('nominal_data.csv', header=True)

Drop rows containing na values

In [4]:
df_1 = df_1.dropna()
df_2 = df_2.dropna()

In [5]:
df_2.select(["Education"]).distinct().sort("Education").show()
df_2.select(["Income"]).distinct().sort("Income").show()

+---------+
|Education|
+---------+
|      1.0|
|     11.0|
|      2.0|
|     22.0|
|      3.0|
|     33.0|
|      4.0|
|     44.0|
|      5.0|
|     55.0|
|      6.0|
|     66.0|
+---------+

+------+
|Income|
+------+
|   1.0|
|  11.0|
|   2.0|
|  22.0|
|   3.0|
|  33.0|
|   4.0|
|  44.0|
|   5.0|
|  55.0|
|   6.0|
|  66.0|
|   7.0|
|  77.0|
|   8.0|
|  88.0|
+------+

In [6]:
from pyspark.sql.functions import col, when
df_2 = df_2.withColumn("Education", when(col("Education") % 11 == 0, col("Education") / 11)\
                       .otherwise(col("Education")))
df_2 = df_2.withColumn("Income", when(col("Income") % 11 == 0, col("Income") / 11)\
                       .otherwise(col("Income")))
df_2.select(["Education"]).distinct().sort("Education").show()
df_2.select(["Income"]).distinct().sort("Income").show()

+---------+
|Education|
+---------+
|      1.0|
|      2.0|
|      3.0|
|      4.0|
|      5.0|
|      6.0|
+---------+

+------+
|Income|
+------+
|   1.0|
|   2.0|
|   3.0|
|   4.0|
|   5.0|
|   6.0|
|   7.0|
|   8.0|
+------+

In [7]:
df_2.select(['Education', 'Income']).summary().show()

+-------+------------------+------------------+
|summary|         Education|            Income|
+-------+------------------+------------------+
|  count|            251910|            251910|
|   mean| 5.050398952006669| 6.053947838513755|
| stddev|0.9858212527289382|2.0709720333587414|
|    min|               1.0|               1.0|
|    25%|               4.0|               5.0|
|    50%|               5.0|               7.0|
|    75%|               6.0|               8.0|
|    max|               6.0|               8.0|
+-------+------------------+------------------+

In [8]:
yes = ['yes', 'YES', 'Y', 'Yes']
no = ['no', 'NO', 'N', 'No']

In [9]:
def convert_binary(column):
    return when(col(column).isin(no), 0) \
           .when(col(column).isin(yes), 1) \
           .otherwise(col(column))

for column in df_1.columns:
    df_1 = df_1.withColumn(column, convert_binary(column))

In [10]:
cols_1 = df_1.columns
df_1.select(cols_1[0:5]).summary().show()
df_1.select(cols_1[5:10]).summary().show()
df_1.select(cols_1[10:16]).summary().show()

+-------+------------------+------------------+-------------------+------------------+-------------------+
|summary|        Unnamed: 0|      Diabetes_012|             HighBP|          HighChol|          CholCheck|
+-------+------------------+------------------+-------------------+------------------+-------------------+
|  count|            249898|            249898|             249898|            249898|             249898|
|   mean|126854.92777453201|0.2967650801527023|0.42917510344220444|0.4243491344468543| 0.9627087851843552|
| stddev| 73224.61191999138|0.6980108551122761|0.49495940678687556|0.4942448017446194|0.18947486317379145|
|    min|                 0|                 0|                  0|                 0|                  0|
|    25%|           63436.0|               0.0|                0.0|               0.0|                1.0|
|    50%|          126845.0|               0.0|                0.0|               0.0|                1.0|
|    75%|          190272.0|               0.0|                1.0|               1.0|                1.0|
|    max|             99999|               2.0|                1.0|               1.0|                1.0|
+-------+------------------+------------------+-------------------+------------------+-------------------+

+-------+-------------------+-------------------+--------------------+-------------------+------------------+
|summary|             Smoker|             Stroke|HeartDiseaseorAttack|       PhysActivity|            Fruits|
+-------+-------------------+-------------------+--------------------+-------------------+------------------+
|  count|             249898|             249898|              249898|             249898|            249898|
|   mean| 0.4431888210389839|0.04063657972452761| 0.09419843296064795| 0.7563926081841391|0.6343268053365774|
| stddev|0.49676299926812556| 0.1974472185625464|  0.2921051687824646|0.42925932467873734|0.4816193907804462|
|    min|                  0|                  0|                   0|                  0|                 0|
|    25%|                0.0|                0.0|                 0.0|                1.0|               0.0|
|    50%|                0.0|                0.0|                 0.0|                1.0|               1.0|
|    75%|                1.0|                0.0|                 0.0|                1.0|               1.0|
|    max|                1.0|                1.0|                 1.0|                1.0|               1.0|
+-------+-------------------+-------------------+--------------------+-------------------+------------------+

+-------+-------------------+--------------------+-------------------+-------------------+------------------+------------------+
|summary|            Veggies|   HvyAlcoholConsump|      AnyHealthcare|        NoDocbcCost|          DiffWalk|               Sex|
+-------+-------------------+--------------------+-------------------+-------------------+------------------+------------------+
|  count|             249898|              249898|             249898|             249898|            249898|            249898|
|   mean| 0.8113670377514026|0.056230942224427566| 0.9510680357585896|0.08415033333600108|0.1683606911619941|0.4403076455193719|
| stddev|0.39121756128338386| 0.23036760997277336|0.21572624630332457| 0.2776136940763594|0.3741870242616193|0.4964250285492702|
|    min|                  0|                   0|                  0|                  0|                 0|                 0|
|    25%|                1.0|                 0.0|                1.0|                0.0|               0.0|               0.0|
|    50%|                1.0|                 0.0|                1.0|                0.0|               0.0|               0.0|
|    75%|                1.0|                 0.0|                1.0|                0.0|               0.0|               1.0|
|    max|                1.0|                 1.0|                1.0|                1.0|               1.0|               1.0|
+-------+-------------------+--------------------+-------------------+-------------------+------------------+------------------+

Remove files "binary_data.csv" and "nominal_data.csv" before re-write.

# 3.3 Data Construction

In [15]:
df_1 = df_1.withColumn("Diabetes_012", when(col("Diabetes_012") == 2, 1).otherwise(0))
df_1 = df_1.withColumnRenamed("Diabetes_012", "Diabetes")
df_1.select(['Diabetes']).show()

AnalysisException: cannot resolve 'Diabetes_012' given input columns: [AnyHealthcare, CholCheck, Diabetes, DiffWalk, Fruits, HeartDiseaseorAttack, HighBP, HighChol, HvyAlcoholConsump, NoDocbcCost, PhysActivity, Sex, Smoker, Stroke, Unnamed: 0, Veggies];
'Project [Unnamed: 0#455, Diabetes#3097, HighBP#489, HighChol#506, CholCheck#523, Smoker#540, Stroke#557, HeartDiseaseorAttack#574, PhysActivity#591, Fruits#608, Veggies#625, HvyAlcoholConsump#642, AnyHealthcare#659, NoDocbcCost#676, DiffWalk#693, Sex#710, CASE WHEN ('Diabetes_012 = 2) THEN 1 ELSE 0 END AS Diabetes_012#3136]
+- Project [Unnamed: 0#455, Diabetes_012#3080 AS Diabetes#3097, HighBP#489, HighChol#506, CholCheck#523, Smoker#540, Stroke#557, HeartDiseaseorAttack#574, PhysActivity#591, Fruits#608, Veggies#625, HvyAlcoholConsump#642, AnyHealthcare#659, NoDocbcCost#676, DiffWalk#693, Sex#710]
   +- Project [Unnamed: 0#455, CASE WHEN (cast(Diabetes_012#2909 as int) = 2) THEN 1 ELSE 0 END AS Diabetes_012#3080, HighBP#489, HighChol#506, CholCheck#523, Smoker#540, Stroke#557, HeartDiseaseorAttack#574, PhysActivity#591, Fruits#608, Veggies#625, HvyAlcoholConsump#642, AnyHealthcare#659, NoDocbcCost#676, DiffWalk#693, Sex#710]
      +- Project [Unnamed: 0#455, CASE WHEN cast(Diabetes_012#2892 as string) IN (cast(0 as string),cast(1 as string)) THEN cast(0 as string) WHEN cast(Diabetes_012#2892 as string) IN (cast(2 as string)) THEN cast(1 as string) ELSE Diabetes_012#2892 END AS Diabetes_012#2909, HighBP#489, HighChol#506, CholCheck#523, Smoker#540, Stroke#557, HeartDiseaseorAttack#574, PhysActivity#591, Fruits#608, Veggies#625, HvyAlcoholConsump#642, AnyHealthcare#659, NoDocbcCost#676, DiffWalk#693, Sex#710]
         +- Project [Unnamed: 0#455, CASE WHEN cast(Diabetes_012#472 as string) IN (cast(0 as string),cast(1 as string)) THEN cast(0 as string) WHEN cast(Diabetes_012#472 as string) IN (cast(2 as string)) THEN cast(1 as string) ELSE Diabetes_012#472 END AS Diabetes_012#2892, HighBP#489, HighChol#506, CholCheck#523, Smoker#540, Stroke#557, HeartDiseaseorAttack#574, PhysActivity#591, Fruits#608, Veggies#625, HvyAlcoholConsump#642, AnyHealthcare#659, NoDocbcCost#676, DiffWalk#693, Sex#710]
            +- Project [Unnamed: 0#455, Diabetes_012#472, HighBP#489, HighChol#506, CholCheck#523, Smoker#540, Stroke#557, HeartDiseaseorAttack#574, PhysActivity#591, Fruits#608, Veggies#625, HvyAlcoholConsump#642, AnyHealthcare#659, NoDocbcCost#676, DiffWalk#693, CASE WHEN Sex#31 IN (no,NO,N,No) THEN cast(0 as string) WHEN Sex#31 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE Sex#31 END AS Sex#710]
               +- Project [Unnamed: 0#455, Diabetes_012#472, HighBP#489, HighChol#506, CholCheck#523, Smoker#540, Stroke#557, HeartDiseaseorAttack#574, PhysActivity#591, Fruits#608, Veggies#625, HvyAlcoholConsump#642, AnyHealthcare#659, NoDocbcCost#676, CASE WHEN DiffWalk#30 IN (no,NO,N,No) THEN cast(0 as string) WHEN DiffWalk#30 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE DiffWalk#30 END AS DiffWalk#693, Sex#31]
                  +- Project [Unnamed: 0#455, Diabetes_012#472, HighBP#489, HighChol#506, CholCheck#523, Smoker#540, Stroke#557, HeartDiseaseorAttack#574, PhysActivity#591, Fruits#608, Veggies#625, HvyAlcoholConsump#642, AnyHealthcare#659, CASE WHEN NoDocbcCost#29 IN (no,NO,N,No) THEN cast(0 as string) WHEN NoDocbcCost#29 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE NoDocbcCost#29 END AS NoDocbcCost#676, DiffWalk#30, Sex#31]
                     +- Project [Unnamed: 0#455, Diabetes_012#472, HighBP#489, HighChol#506, CholCheck#523, Smoker#540, Stroke#557, HeartDiseaseorAttack#574, PhysActivity#591, Fruits#608, Veggies#625, HvyAlcoholConsump#642, CASE WHEN AnyHealthcare#28 IN (no,NO,N,No) THEN cast(0 as string) WHEN AnyHealthcare#28 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE AnyHealthcare#28 END AS AnyHealthcare#659, NoDocbcCost#29, DiffWalk#30, Sex#31]
                        +- Project [Unnamed: 0#455, Diabetes_012#472, HighBP#489, HighChol#506, CholCheck#523, Smoker#540, Stroke#557, HeartDiseaseorAttack#574, PhysActivity#591, Fruits#608, Veggies#625, CASE WHEN HvyAlcoholConsump#27 IN (no,NO,N,No) THEN cast(0 as string) WHEN HvyAlcoholConsump#27 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE HvyAlcoholConsump#27 END AS HvyAlcoholConsump#642, AnyHealthcare#28, NoDocbcCost#29, DiffWalk#30, Sex#31]
                           +- Project [Unnamed: 0#455, Diabetes_012#472, HighBP#489, HighChol#506, CholCheck#523, Smoker#540, Stroke#557, HeartDiseaseorAttack#574, PhysActivity#591, Fruits#608, CASE WHEN Veggies#26 IN (no,NO,N,No) THEN cast(0 as string) WHEN Veggies#26 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE Veggies#26 END AS Veggies#625, HvyAlcoholConsump#27, AnyHealthcare#28, NoDocbcCost#29, DiffWalk#30, Sex#31]
                              +- Project [Unnamed: 0#455, Diabetes_012#472, HighBP#489, HighChol#506, CholCheck#523, Smoker#540, Stroke#557, HeartDiseaseorAttack#574, PhysActivity#591, CASE WHEN Fruits#25 IN (no,NO,N,No) THEN cast(0 as string) WHEN Fruits#25 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE Fruits#25 END AS Fruits#608, Veggies#26, HvyAlcoholConsump#27, AnyHealthcare#28, NoDocbcCost#29, DiffWalk#30, Sex#31]
                                 +- Project [Unnamed: 0#455, Diabetes_012#472, HighBP#489, HighChol#506, CholCheck#523, Smoker#540, Stroke#557, HeartDiseaseorAttack#574, CASE WHEN PhysActivity#24 IN (no,NO,N,No) THEN cast(0 as string) WHEN PhysActivity#24 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE PhysActivity#24 END AS PhysActivity#591, Fruits#25, Veggies#26, HvyAlcoholConsump#27, AnyHealthcare#28, NoDocbcCost#29, DiffWalk#30, Sex#31]
                                    +- Project [Unnamed: 0#455, Diabetes_012#472, HighBP#489, HighChol#506, CholCheck#523, Smoker#540, Stroke#557, CASE WHEN HeartDiseaseorAttack#23 IN (no,NO,N,No) THEN cast(0 as string) WHEN HeartDiseaseorAttack#23 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE HeartDiseaseorAttack#23 END AS HeartDiseaseorAttack#574, PhysActivity#24, Fruits#25, Veggies#26, HvyAlcoholConsump#27, AnyHealthcare#28, NoDocbcCost#29, DiffWalk#30, Sex#31]
                                       +- Project [Unnamed: 0#455, Diabetes_012#472, HighBP#489, HighChol#506, CholCheck#523, Smoker#540, CASE WHEN Stroke#22 IN (no,NO,N,No) THEN cast(0 as string) WHEN Stroke#22 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE Stroke#22 END AS Stroke#557, HeartDiseaseorAttack#23, PhysActivity#24, Fruits#25, Veggies#26, HvyAlcoholConsump#27, AnyHealthcare#28, NoDocbcCost#29, DiffWalk#30, Sex#31]
                                          +- Project [Unnamed: 0#455, Diabetes_012#472, HighBP#489, HighChol#506, CholCheck#523, CASE WHEN Smoker#21 IN (no,NO,N,No) THEN cast(0 as string) WHEN Smoker#21 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE Smoker#21 END AS Smoker#540, Stroke#22, HeartDiseaseorAttack#23, PhysActivity#24, Fruits#25, Veggies#26, HvyAlcoholConsump#27, AnyHealthcare#28, NoDocbcCost#29, DiffWalk#30, Sex#31]
                                             +- Project [Unnamed: 0#455, Diabetes_012#472, HighBP#489, HighChol#506, CASE WHEN CholCheck#20 IN (no,NO,N,No) THEN cast(0 as string) WHEN CholCheck#20 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE CholCheck#20 END AS CholCheck#523, Smoker#21, Stroke#22, HeartDiseaseorAttack#23, PhysActivity#24, Fruits#25, Veggies#26, HvyAlcoholConsump#27, AnyHealthcare#28, NoDocbcCost#29, DiffWalk#30, Sex#31]
                                                +- Project [Unnamed: 0#455, Diabetes_012#472, HighBP#489, CASE WHEN HighChol#19 IN (no,NO,N,No) THEN cast(0 as string) WHEN HighChol#19 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE HighChol#19 END AS HighChol#506, CholCheck#20, Smoker#21, Stroke#22, HeartDiseaseorAttack#23, PhysActivity#24, Fruits#25, Veggies#26, HvyAlcoholConsump#27, AnyHealthcare#28, NoDocbcCost#29, DiffWalk#30, Sex#31]
                                                   +- Project [Unnamed: 0#455, Diabetes_012#472, CASE WHEN HighBP#18 IN (no,NO,N,No) THEN cast(0 as string) WHEN HighBP#18 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE HighBP#18 END AS HighBP#489, HighChol#19, CholCheck#20, Smoker#21, Stroke#22, HeartDiseaseorAttack#23, PhysActivity#24, Fruits#25, Veggies#26, HvyAlcoholConsump#27, AnyHealthcare#28, NoDocbcCost#29, DiffWalk#30, Sex#31]
                                                      +- Project [Unnamed: 0#455, CASE WHEN Diabetes_012#17 IN (no,NO,N,No) THEN cast(0 as string) WHEN Diabetes_012#17 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE Diabetes_012#17 END AS Diabetes_012#472, HighBP#18, HighChol#19, CholCheck#20, Smoker#21, Stroke#22, HeartDiseaseorAttack#23, PhysActivity#24, Fruits#25, Veggies#26, HvyAlcoholConsump#27, AnyHealthcare#28, NoDocbcCost#29, DiffWalk#30, Sex#31]
                                                         +- Project [CASE WHEN Unnamed: 0#16 IN (no,NO,N,No) THEN cast(0 as string) WHEN Unnamed: 0#16 IN (yes,YES,Y,Yes) THEN cast(1 as string) ELSE Unnamed: 0#16 END AS Unnamed: 0#455, Diabetes_012#17, HighBP#18, HighChol#19, CholCheck#20, Smoker#21, Stroke#22, HeartDiseaseorAttack#23, PhysActivity#24, Fruits#25, Veggies#26, HvyAlcoholConsump#27, AnyHealthcare#28, NoDocbcCost#29, DiffWalk#30, Sex#31]
                                                            +- Filter atleastnnonnulls(16, Unnamed: 0#16, Diabetes_012#17, HighBP#18, HighChol#19, CholCheck#20, Smoker#21, Stroke#22, HeartDiseaseorAttack#23, PhysActivity#24, Fruits#25, Veggies#26, HvyAlcoholConsump#27, AnyHealthcare#28, NoDocbcCost#29, DiffWalk#30, Sex#31)
                                                               +- Relation [Unnamed: 0#16,Diabetes_012#17,HighBP#18,HighChol#19,CholCheck#20,Smoker#21,Stroke#22,HeartDiseaseorAttack#23,PhysActivity#24,Fruits#25,Veggies#26,HvyAlcoholConsump#27,AnyHealthcare#28,NoDocbcCost#29,DiffWalk#30,Sex#31] csv

In [ ]:
# spark.catalog.clearCache()
# import os
# os.remove('binary_data.csv')
# os.remove('nominal_data.csv')

In [ ]:
# df_1.write.mode('overwrite').csv('binary_data.csv')
# df_2.write.mode('overwrite').csv('nominal_data.csv')

In [ ]:
# output_path = 'binary_data.csv'

# df_1.write.csv(path=output_path, mode='overwrite', header=True)